@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.action-btn {
  width: 300px;
  height: 60px;
  background-color: gray;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 30px rgb(61, 65, 141);
  margin: 50px auto;
}

.form__input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__input-container span {
  text-transform: uppercase;
  
  font-size: 12px;
  opacity: 0.4;
  transition: all 0.5s ease-in-out;
  width: 70%;
}

.form-lowerClickBtn {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  margin-top: -5px;
  width: 80%;
}

a {
  margin-top: 15px;
}

@media screen and (max-width: 650px) {
  .action-btn {
    height: 50px;
    width: 200px;
    margin: 50px auto;
  }
  .low-line {
    min-width: 190px;
  }
}
