.active-btn{
    background-color: #1161ed;
    border-radius: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .75s ease-in-out;
    
}

.container__btn{
    width: 150px;
    display: flex;
    justify-content: center;
    font-size: 22px;
}


@media screen and (max-width: 650px) {
    .container__btn{
        font-size: 19px;
    }

    
}

@keyframes orangeBoll {
    0%{
        transform: translateX(-25%);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}