@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: #d3d3d3;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.title {
  font-weight: 400;
  letter-spacing: 1.5px;
}

.container {
  height: 600px;
  width: 500px;
  background: url(https://picsum.photos/id/1004/5616/3744) no-repeat center
    center #505050;
  box-shadow: 8px 8px 20px rgb(128, 128, 128);
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.login,
.signup {
  font-size: 22px;
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  z-index: 1000;
}

.moveslider {
  left: 150px;
}

.formSection {
  height: 75%;
  width: 200%;
  display: flex;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.form-section-move {
  left: -500px;
}

.login-box,
.signup-box {
  height: 60%;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  margin-top: -20px;
}

.el {
  border: none;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
}

.el:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.el:focus + span {
  opacity: 0.6;
}

input[type="text"],
input[type="password"] {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

input {
  display: inline-block;
  margin-top: 100px;
  padding-top: 20px;
  font-size: 14px;
}

span {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.4;
  display: inline-block;
  position: relative;
  top: -56px;
  transition: all 0.5s ease-in-out;
}

span,
.custom-checkbox {
  margin-left: 20px;
}

.clkbtn {
  background-color: #1161ed;
  color: #fff;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
  font-size: 22px;
}

.clkbtn:hover {
  background: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer;
}
.clkbtn:focus {
  outline: none;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: 60px;
  position: relative;
  min-width: 390px;
}

a {
  text-align: center;
  display: block;
  top: 80px;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 650px) {
  .line {
    min-width: 190px;
  }

  .container {
    height: 600px;
    width: 300px;
  }

  .title {
    font-size: 15px;
  }

  .form-section-move {
    left: -300px;
  }

  .login-box,
  .signup-box {
    width: 200px;
    margin: -25px auto;
  }

  .el {
    font-size: 11px;
  }

  .clkbtn {
    height: 40px;
    width: 100%;
    font-size: 19px;
  }

  .form-section-move {
    left: 500px;
  }

  .emai,
  .pass {
    font-size: 10px;
    top: -53px;
  }
}


